/* HEADER STYLES */
@media only screen and (min-width: 900px) {
    .navbar-nav {
        font-size: 13px !important;
    }

    .navbar-nav .nav-link {
        margin: 0;
    }

    #main {
        width: 926px;
    }

}

@media only screen and (min-width: 992px) {
    .navbar-nav {
        font-size: 13px !important;
    }

    .navbar-nav .nav-link {
        margin: 0;
    }

}

@media only screen and (max-width: 1000px) {
    ul.search {
        display: none;
    }

    #main {
        width: 750px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-nav .nav-link {
        font-size: 1rem;
        margin: 0 10px;
    }
}

nav.bg-dark {
    background-color: black !important;
}

.navbar-collapse {
    height: 55px;
}

.nav-link {
    color: #9B9B9B;
    padding: 15px 0;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

a.dropdown-item {
    color: white;
}

a.dropdown-item:hover {
    color: #ff6500;
    background-color: #212529;
}

a.nav-link.hbo:hover {
    color: #039be5;
}

a.nav-link:hover {
    color: #ff6500;
}

a.active {
    border-bottom: 3px solid #ff6500;
}

.btn-custom-fptplay {
    background-color: #ff6500;
    color: #fff;
    padding: 4px 15px;
    border-radius: 15px;
}

.carousel-control-next, .carousel-control-prev {
    width: auto;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background: rgba(0,0,0,0.5);
}